@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

h1 {
  font: 700 1.75rem 'Source Sans Pro';
}

h2 {
  font: 700 1rem 'Source Sans Pro';
}

.white {
  color: white;
}

.font-m {
  font: 400 1rem 'Source Sans Pro';
}

.bold {
  font-weight: bold;
}
