* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.bold {
  font-weight: bold;
}

.expense {
  display: flex;
}

.expense span {
  border: 1px solid silver;
}

.expense span:nth-child(1) {
  width: 10rem;
}

.expense span:nth-child(2) {
  width: 15rem;
}

.expense span:nth-child(3) {
  width: 10rem;
}
